/** CSS STYLE **/
main {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  /* width: 100vw; */
  overflow-x: hidden;
}

#header::before,  
#ikea-effect::before, 
#premature-optimization::before, 
#distortion-of-novelty::before, 
#hyperbolic-depreciation::before, 
#errors-in-planning::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

header, section, footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #f5f4f0;
  width: 100%;
}

.content {
  width: 1110px;
  position: relative;
}

.header-img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.orange {
  color: #fe8a02;
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

h1,
h2,
h3 {
  font-family: Neucha, "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: normal;
  color: #2a2626;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 72px;
}

header h1 {
  margin: 0;
  padding-bottom: 185px;
}

h2 {
  font-size: 60px;
  color: #fe8a02;
}

h3 {
  font-size: 34px;
}

.main-image {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
}

.columns {
  display: flex;
  column-gap: 30px;
  margin: 0;
}

.any-column {
  flex: 1 1 0;
}

.header-button {
  background-color: #fe8a02;
  margin-top: 24px;
  padding: 12px 24px;
  display: inline-block;

  /* margin-top: 24px; */
}

.header-button p {
  margin: 0px;
  font-weight: bold;
  color: white;
}

p, 
li {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.6em;
  font-weight: 400;

  /* color: #2A2626; */
  /* margin-top: 0;
  margin-bottom: 0; */
}

.video {

  /* position: relative;
  top: 200px; */
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  z-index: 2;

  /* костыль */
  margin-bottom: -200px;
}

.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.white {
 background-color: white;
}

.soft-white {
  background-color: #f5f4f0;
}

.black {
  background-color: #42413c;
}

.brown {
  background-color: #b09a81;
}

.black-text {
color: #2a2626;
}

.special-header2 {
  margin-bottom: 4px;
}

.special-header2 h3 {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;

  /* color: white; */
  text-transform: uppercase;
  margin: 5px 10px;
}

.video-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

#navigation {
  padding: 200px 0 100px;
}

.line-flex {
  display: flex;
  flex-direction: row;
  column-gap: 30px;

 /*  justify-content: space-between; */
  /* align-items: center; */
}

.line-flex-marg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.line-flex img {
  vertical-align: middle;
  padding-bottom: 100px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.special-header {

  /* font-size: 60px; */
  padding-bottom: 30px;
}

.box {

  /* ширина и высота с учетом padding */
  width: 302px;
  height: 275px;
  padding: 24px;
}

.box-high {

  /* ширина и высота с учетом padding */
  width: 302px;
  height: 300px;
  padding: 24px;
}

.box h2, 
.box-high h2 {
  font-size: 52px;
}

.box h1, 
.box-high h1 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
}

.box h3, 
.box-high h3 {

  /* margin-bottom: 16px; */
  color: #fe8a02;
}

.contact {
margin-top: 60px;
}

.contact p {
  text-align: center;
  font-size: 14px;
  color: #000;
}

.contact a {
  color: #007dc1;
}

.footer > p {
  margin: 55px 0;
}

.box:hover, .box-high:hover {

  /* дополнить для всех типов текста */
  background-color: #fe8a02;
  color: white;
}

.box:hover h2, 
.box:hover h1, 
.box:hover h3, 
.box:hover p, 
.box:hover h2 span { 
  color: white;
}

.box-high:hover h2, 
.box-high:hover h1, 
.box-high:hover h3, 
.box-high:hover p, 
.box-high:hover h2 span { 
  color: white;
}

#first-box {
  padding: 0;
  width: 350px;
  height: 323px;
}

.line-flex-marg a, 
.line-flex a {
  text-decoration: none;
}

.Neucha24 {
  font-family: Neucha;
  font-size: 24px;
  font-weight: normal;
  color: #908d8b;
  margin: 0;
}

.Neucha34 {
  font-family: Neucha;
  font-size: 34px;
  font-weight: normal;
  line-height: 41px;
  margin: 0;
}

.white-text {
  color: white;
}

.brown-text {
  color: #b09a81;
}

.grey-text {
  color: #d7ccc0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 55px;
}

.px18 {
  font-size: 18px;
  margin-bottom: 9px;
}

.px12 {
  font-size: 12px;
  margin-top: 3px;
}

input {
  height: 50px;
  border: none;
  padding: 0 15px;
  width: 385px;
}

.form-button {
  height: 50px;
  width: 70px;
  background-color: #fe8a02;
  position: relative;
  border: none;
}

.form-button::before {
  content: "";
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13px;
  left: 22px;
  
  /* position: relative;
  top: 25px;
  left: 35px; */
}

.email {
  display: flex;
  flex-direction: row;

  /* justify-content: center;
  align-items: center; */
}